<%- include('partials/head') %>
<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navbar') %>
    <main class="flex-grow-1">
    <h1><b>NOT FOUND 404</b></h1>
    <%- include('partials/footer') %>
    </main>
</body>
</html>