<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>THE Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore nemo architecto earum commodi asperiores recusandae harum, aliquam rerum perspiciatis ut ab similique dignissimos debitis placeat quasi a dolores iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iusto veritatis cupiditate porro laborum ullam pariatur! Maxime expedita, alias in quibusdam aut beatae quidem molestiae, ut illo, facere distinctio eum.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, alias. Libero in nam doloribus facilis, exercitationem deleniti at illo obcaecati repudiandae eos nobis dolorem qui, consequuntur recusandae, nulla itaque iste.</p>
</body>
</html>